.SiteLogoLine {
    .line-area{
        background-color: #1dbaea;
        padding: 0px;
        height: 80px;
        background-image: url("/images/logoCornerRight.png");
        background-repeat: no-repeat;
        background-position: right bottom;
    }
}