.SiteProyectos {
    text-align: center;
    p{
        max-width: 800px;
        margin:auto; 
    }
    h1,h2,h3{
        margin:auto;
    }
    ul{
        max-width: 800px;
        margin:auto; 
        text-align: left;
    }
}