.SiteProyectos {
    $backgroundMobileSize: 100vw 375px; 
    text-align: center;
    p{
        max-width: 800px;
        margin:auto; 
    }
    h1,h2,h3{
        margin:auto;
        
    }
    ul{
        max-width: 800px;
        margin:auto; 
        text-align: left;
    }
    .grid-proyectos{
        max-width: 1200px;
        margin: 25px auto; 
         
      
    }

    

   /* Extra small devices (phones, 600px and down) */
   @media only screen and (max-width: 600px) {
    .grid-background{
       //background-image: url("/images/proyectos-BG.png");
       // height: 375px;
       display: inline-table;
       background-color: #98be19;
        background-position: center;
        
        p{
            color:white;
            max-width: 620px;
            margin:auto;
            font-size: 14px;
        }
        ul{
            color:white;
        }
        border-top: #ffda06 solid 5px;
        border-bottom: #ffda06 solid 5px;
    
    }
    .grid-leemos-en-familia{
        background-image: url("/images/proyectos-LeamosEnFamilia.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size:$backgroundMobileSize;
        height: 375px;
    }
    .grid-libros-violeta{
        background-image: url("/images/proyectos-LibrosVioleta.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size:$backgroundMobileSize;
        height: 375px;
    }
    .grid-verde-que-te-leo-verde{
        background-image: url("/images/proyectos-VerdeQueteLeoVerde.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size:$backgroundMobileSize;
        height: 375px;
    }
      .grid-la-vuelta-al-mundo{
        background-image: url("/images/proyectos-VualtaAlMundoEn70Mapas.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size:$backgroundMobileSize;
        height: 375px;
    }
    .grid-lista-de-honor{
        background-image: url("/images/proyectos-ListaDeHonor.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size:$backgroundMobileSize;
        height: 375px;
    }
    .grid-caminos{
        background-image: url("/images/proyectos-Caminos.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size:$backgroundMobileSize;
        height: 375px;
    }
    .round-image-small {
        width: 120px;
        margin-top: -15px;
        opacity: 1 !important;
      }
   
      .bg-row-que-hacemos-small {
        padding: 0px;
        height: 80px;
        background-size: 10px 10px;
        background-color: rgb(0, 155, 219, 0.8);
        //opacity: 0.2;
  
        background-position: bottom;
      }

   }

   /* Small devices (portrait tablets and large phones, 600px and up) */
   @media only screen and (min-width: 600px) {
    .grid-background{
       // background-image: url("/images/proyectos-BG.png");
       // height: 375px;
        background-position: center;
        display: inline-table;
        background-color: #98be19;
        border-bottom: #ffda06 solid 5px;
        p{
            color:white;
            max-width: 620px;
            margin:auto;
            font-size: 14px;
        }
        ul{
            color:white;
        }

    }
    .grid-leemos-en-familia{
        background-image: url("/images/proyectos-LeamosEnFamilia.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size:$backgroundMobileSize;
        height: 375px;
    }
    .grid-libros-violeta{
        background-image: url("/images/proyectos-LibrosVioleta.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size:$backgroundMobileSize;
        height: 375px;
    }
    .grid-verde-que-te-leo-verde{
        background-image: url("/images/proyectos-VerdeQueteLeoVerde.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size:$backgroundMobileSize;
        height: 375px;
    }
    .grid-la-vuelta-al-mundo{
        background-image: url("/images/proyectos-VualtaAlMundoEn70Mapas.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size:$backgroundMobileSize;
        height: 375px;
    }
    .grid-lista-de-honor{
        background-image: url("/images/proyectos-ListaDeHonor.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size:$backgroundMobileSize;
        height: 375px;
    }
    .grid-caminos{
        background-image: url("/images/proyectos-Caminos.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size:$backgroundMobileSize;
        height: 375px;
    }
    .round-image-small {
        width: 120px;
        margin-top: -15px;
        opacity: 1 !important;
      }
   
      .bg-row-que-hacemos-small {
        padding: 0px;
        height: 80px;
        background-size: 10px 10px;
        background-color: rgb(0, 155, 219, 0.8);
        //opacity: 0.2;
  
        background-position: bottom;
      }

  
   }
   
   /* Medium devices (landscape tablets, 768px and up) */
   @media only screen and (min-width: 768px) {
    .grid-background{
       // background-image: url("/images/proyectos-BG.png");
       // height: 375px;
        background-position: center;
        display: inline-table;
        background-color: #98be19;
        border-top: #ffda06 solid 5px;
        border-bottom: #ffda06 solid 5px;
        p{
            color:white;
            max-width: 620px;
            margin:auto;
            font-size: 14px;
        }
        ul{
            color:white;
        }

    }
    .grid-leemos-en-familia{
        background-image: url("/images/proyectos-LeamosEnFamilia.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size:475px 375px;
        height: 375px;
    }
    .grid-libros-violeta{
        background-image: url("/images/proyectos-LibrosVioleta.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size:475px 375px;
        height: 375px;
    }
    .grid-verde-que-te-leo-verde{
        background-image: url("/images/proyectos-VerdeQueteLeoVerde.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size:475px 375px;
        height: 375px;
    }
      .grid-la-vuelta-al-mundo{
        background-image: url("/images/proyectos-VualtaAlMundoEn70Mapas.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size:475px 375px;
        height: 375px;
    }
    .grid-lista-de-honor{
        background-image: url("/images/proyectos-ListaDeHonor.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size:475px 375px;

        margin: auto;
        height: 375px;
    }
    .grid-caminos{
        background-image: url("/images/proyectos-Caminos.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size:475px 375px;
        height: 375px;
    }
   }
   
   /* Large devices (laptops/desktops, 992px and up) */
   @media only screen and (min-width: 992px) {
    .grid-background{
        background-color: #98be19;
        border-bottom: #ffda06 solid 5px;
       // height: 375px;
        background-position: center;
        display: inline-table;
        p{
            color:white;
            max-width: 680px;
            margin:auto;
            font-size: 14px;
        }
        ul{
            color:white;
            font-size: 12px;
        }

    } 
    .grid-leemos-en-familia{
        background-image: url("/images/proyectos-LeamosEnFamilia.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size:475px 384px;
        height: 375px;
    }
    .grid-libros-violeta{
        background-image: url("/images/proyectos-LibrosVioleta.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size:475px 384px;
        height: 375px;
    }
    .grid-verde-que-te-leo-verde{
        background-image: url("/images/proyectos-VerdeQueteLeoVerde.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size:475px 384px;

        height: 375px;
    }
    .grid-la-vuelta-al-mundo{
        background-image: url("/images/proyectos-VualtaAlMundoEn70Mapas.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size:inherit;
        background-size:475px 384px;

        height: 375px;
    }
    
    .grid-lista-de-honor{
        background-image: url("/images/proyectos-ListaDeHonor.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size:475px 384px;


        height: 375px;
    }
    .grid-caminos{
        background-image: url("/images/proyectos-Caminos.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size:475px 384px;
        height: 375px;
    }
   }
   
   /* Extra large devices (large laptops and desktops, 1200px and up) */
   @media only screen and (min-width: 1200px) {
    .grid-background{
      //  background-image: url("/images/proyectos-BG.png");
        height: 375px;
        background-position: center;
        display: inline-table;
        p{
            color:white;
            max-width: 724px;
            margin:auto;
            font-size: 18px;
        }
        ul{
            color:white;
            font-size: smaller;
        }

    }     
    .grid-leemos-en-familia{
        background-image: url("/images/proyectos-LeamosEnFamilia.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size:inherit;
        height: 375px;
    }
    .grid-libros-violeta{
        background-image: url("/images/proyectos-LibrosVioleta.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size:inherit;
        height: 375px;
    }
    .grid-verde-que-te-leo-verde{
        background-image: url("/images/proyectos-VerdeQueteLeoVerde.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size:inherit;
        height: 375px;
    }
    .grid-la-vuelta-al-mundo{
        background-image: url("/images/proyectos-VualtaAlMundoEn70Mapas.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size:inherit;
        height: 375px;
    }
    .grid-lista-de-honor{
        background-image: url("/images/proyectos-ListaDeHonor.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size:inherit;
        height: 375px;
    }
    .grid-caminos{
        background-image: url("/images/proyectos-Caminos.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size:inherit;
        height: 375px;
    }
    .round-image-small {
        width: 180px;
        margin-top: -35px;
        opacity: 1 !important;
      }
   
      .bg-row-que-hacemos-small {
        padding: 0px;
        height: 80px;
        background-size: 10px 10px;
        background-color: rgb(0, 155, 219, 0.8);
        //opacity: 0.2;
  
        background-position: bottom;
      }
}

}